name: Compile
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build Jekyll site.
      uses: meitar/jekyll-builder-for-github-pages-action@v1
      env:
        DEBUG: true
      with:
         pre_build_commands: gem install bundler

